<div id="screening-tabs">
  <div class="border-b border-gray-200 pl-4">
    <% selected = "border-indigo-500 text-indigo-600" %>
    <% unselected = "border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300" %>
    <nav class="-mb-px flex space-x-8" aria-label="Tabs">
      <!-- Current: "border-indigo-500 text-indigo-600", Default: "border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300" -->
      <% if policy([:screening, :resume]).index? %>
      <a href="<%= resume_path %>" class="<%= current_page?(resume_path) ? selected : unselected %>  whitespace-nowrap pb-4 px-1 border-b-2 font-medium text-sm">
        Resume
      </a>
      <% end %>
       <% if policy([:screening, :telephonic]).index? %>
      <a href="<%= telephonic_path %>" class="<%= current_page?(telephonic_path) ? selected : unselected %>  whitespace-nowrap pb-4 px-1 border-b-2 font-medium text-sm">
        Telephonic
      </a>
       <% end %>
       <% if policy([:screening, :interview]).index? %>
      <a href="<%= interview_path %>" class="<%= current_page?(interview_path) ? selected : unselected %>  whitespace-nowrap pb-4 px-1 border-b-2 font-medium text-sm">
        Interview
      </a>
       <% end %>
       <% if policy([:screening, :hr]).index? %>
      <a href="<%= hr_path %>" class="<%= current_page?(hr_path) ? selected : unselected %>  whitespace-nowrap pb-4 px-1 border-b-2 font-medium text-sm">
        HR
      </a>
       <% end %>
       <% if policy([:screening, :vendor]).index? %>
      <a href="<%= vendor_path %>" class="<%= current_page?(vendor_path) ? selected : unselected %>  whitespace-nowrap pb-4 px-1 border-b-2 font-medium text-sm">
        Vendor
      </a>
       <% end %>
    </nav>
  </div>
</div>
