<tr class="bg-white" id="<%= dom_id(user) %>">
  <td class="table-cell ">
    <a class="bg-white py-2 px-4 text-sm font-medium text-gray-700 hover:underline focus:outline-none">
      <%= user.decorate.display_name %>
    </a>
  </td>
  <td class="table-cell ">
    <%= user.email %>
  </td>
  <td class="table-cell ">
    <%= tailwind_form_with model: user, url: set_permission_path(user.id), format: :turbo_stream, method: :put do |form| %>
      <%= render "shared/form_messages", resource: user, message: local_assigns[:message] %>
      <%= form.select :permission, User::Permissions, { :prompt => "Choose Permission" }, class: "focus:ring-indigo-500 focus:border-indigo-500 block pl-7 pr-12 sm:text-sm border-gray-300 rounded-md", :onchange => "this.form.submit();" %>
    <% end %>
  </td>
  <td class="table-cell ">
    <%= styled_delete_button(user_path(user), "text-indigo-600 hover:text-indigo-900  ") %>
  </td>
</tr>
