<tr class="bg-white" id="<%= dom_id(user) %>">
  <td class="table-cell ">
    <a class="bg-white py-2 px-4 text-sm font-medium text-gray-700  focus:outline-none">
      <%= user.decorate.display_name %>
    </a>
  </td>
  <td class="table-cell ">
    <%= user.email %>
  </td>
  <% if current_user.admin? %>
    <td class="table-cell space-x-6">
        <%= link_to "Edit", edit_user_path(user), class: "text-indigo-600 hover:text-indigo-900" %>
          <%= link_to "Archive", deactivate_user_path(user), class: "text-indigo-600 hover:text-indigo-900" %>
    </td>
  <% end %>
</tr>
