<main class="max-w-7xl mx-auto pb-10 lg:py-12 lg:px-8">
  <div class="lg:grid lg:grid-cols-12 lg:gap-x-5">
    <%= render "shared/settings_menu" %>
     <main class="max-w-xl pb-12 px-4 lg:col-span-6">
<%= tailwind_form_with(model: resource, as: resource_name, url: invitation_path(resource_name), html: { method: :post }) do |form| %>
  <%= render "devise/shared/error_messages", resource: resource %>
    <%= render "shared/form_header", title: t("devise.invitations.new.header"), subtitle: "" %>
  <div>
    <div class="space-y-6">
  <% resource.class.invite_key_fields.each do |field| -%>

      <%= form.text_field :email, "Email" %>
 

  <% end -%>
 

   <div class="flex justify-end">
    <%= form.submit t("devise.invitations.new.submit_button"), class: "btn-blue" %>
  </div>
    </div>
      </div>
<% end %>
     </main>
  </div>
</main>