   <% @user = @user.decorate %>
<div class="px-4 pt-4 sm:flex sm:items-center sm:justify-between sm:px-6 lg:px-8" id="user-header">
  <div class="flex flex-wrap items-baseline">
    <h1 class="text-3xl font-bold leading-tight text-gray-900">
         <%= !@user.first_name.blank? ?
       @user.decorate.display_name : @user.email
        %>
    </h1>
    <% if current_user.admin? %>
      <p class="mt-1 ml-2 text-sm text-gray-500 truncate">(<%= @user.role.upcase_first %>)</p>
    <% end %>
     </div>
     <div>
            <%= link_to "Edit", edit_user_path(@user), class: " btn-normal" %>
      
          <% if @user.active %>
            
              <%= confirm_button(deactivate_user_path(@user), "Deactivate", "Are you sure?", "ml-4 btn-normal") %>
            
          <% else %>
            
              <%= confirm_button(activate_user_path(@user), "Activate", "Are you sure?", "ml-4  btn-normal") %>
            
          <% end %>
        </div>
    </div>
    <%= render partial: "user/tabs", locals: { user: @user } %>

  <div class="sm:block">
    <div class="inline-block min-w-full align-middle " data-controller="infinite-scroll">
      <div>
        <table class="min-w-full divide-y divide-gray-200">
          <thead class="bg-gray-50">
            <tr>
              <th scope="col" class="w-full table-head">
              Survey
              </th>
               <th scope="col" class=" table-head">
            Participant
          </th>
          <th scope="col" class=" table-head">
            Email
          </th>
          <th scope="col" class="table-head">
            Date
          </th>
              <th scope="col" class="table-head">
              Action
              </th>
            </tr>
          </thead>
          <tbody class="bg-white divide-y divide-gray-200" id="surveys" data-infinite-scroll-target="entries">
            <%= render partial: "attempt", collection: @attempts, as: :attempt, cached: false %>
          </tbody>
        </table>
        <div class="flex justify-end invisible mt-2 mb-6 mr-2" data-infinite-scroll-target="pagination">
          <%== render partial: "shared/paginator", locals: { pagy: @pagy } %>
        </div>
      </div>
    </div>