<!-- This example requires Tailwind CSS v2.0+ -->
<div class="bg-white shadow overflow-hidden sm:rounded-lg">
  <div class="px-4 py-5 sm:px-6">
    <h3 class="text-lg leading-6 font-medium text-gray-900">
      <%= @attempt.participant.name %>
    </h3>
    <p class="mt-1 max-w-2xl text-sm text-gray-500">
      <%= @attempt.survey.name %>
    </p>
  </div>
  <fieldset class="space-y-5">
    <% @attempt.survey.questions.each do |question| %>
      <div class="relative flex items-start">
        <div class="ml-3 text-sm">
          <label for="comments" class="font-medium text-gray-700"><%= question.text %></label>
          <p id="comments-description" class="text-gray-500"><%= question.description %></p>
        </div>
        <% question.options.each do |option| %>
          <div class="flex items-center text-sm">
            <input type="radio" data-reflex="click->Attempt#answer" data-attempt-id="<%= @attempt.id %>" data-question-id="<%= question.id %>" data-option-id="<%= option.id %>" name="pricing-plan" value="Startup" class="h-4 w-4 text-indigo-600 border-gray-300 focus:ring-indigo-500" aria-labelledby="pricing-plans-0-label" aria-describedby="pricing-plans-0-description-0 pricing-plans-0-description-1">
            <span id="pricing-plans-0-label" class="ml-3 font-medium"><%= option.text %></span>
        </div>
      <% end %>
    </div>
  <% end %>
</fieldset>
<%= link_to "DOWNLOAD PDF", checklist_report_path(@attempt, format: :pdf) %>
</div>
