<!DOCTYPE html>
<html>
  <head>
    <title>Quick Survey</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
        <% if user_signed_in? %>
      <meta name="current-account", content="<%= Current.account.id %>">
      <meta name="current-user", content="<%= current_user.id %>">
    <% end %>
    <script defer src="https://unpkg.com/alpinejs@3.7.0/dist/cdn.min.js"></script>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "actiontext", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/slim-select/2.6.0/slimselect.min.css", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "slim", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "menu", "data-turbo-track": "reload" %>
    <%= turbo_include_tags %>
  </head>
  <body>
    <%= render "shared/navbar" %>
    <p class="text-sm font-medium text-center notice bg-green-50"><%= notice %></p>
    <p class="text-sm font-medium text-center alert bg-red-50"><%= alert %></p>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
