<!DOCTYPE html>
<html>
  <head>
    <title>Screener</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "inter-font" %>
    <%= stylesheet_link_tag "tailwind" %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v1.9.5/dist/alpine.min.js" defer></script>
  </head>
  <body>
    <% flash.each do |type, msg| %>
      <div class="rounded-md bg-green-50">
        <p class="text-sm text-center font-medium text-green-800">
          <%= msg %>
        </p>
      </div>
    <% end %>
    <%= render "shared/navbar" %>
    <%= yield %>
  </body>
</html>
